* {
  box-sizing: border-box;
}
body{
    font-family: Arial;
   margin: 0;
  padding: 0;
}
header {
  display: inline;
}
.jumbotron {
  position: relative;
  height: 100vh;
  background-image: url("image/bg.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.jumbotron::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.jumbotron h1 {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(255,255,255,0.8);
    color: white;
     margin: 0;
}
.jumbotron p {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(255,255,255,0.8);
    color: white;
}
footer {
  padding: 20px;
  color: white;
  background-color: #3d511b;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;
}

.profile img {
   max-width: 300px;
 
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  text-align: justify;
  background-color:  #F5F5DC;
}

nav {
  background-color: #556B2F;
  padding: 5px;
  position: sticky;
  top: 0;
}


main {
  padding: 20px;
   display: flex;
  gap: 1.5rem;
}
#content {  
  font-size: large;
  line-height: 1.5;
  flex: 5;
   display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;

}
aside {
   flex: 1;
}
table {
  width: 100%;
}

 
nav ul {
  padding-inline: 4rem;
  display: flex;
   gap: 2rem;
} 
nav li {
  list-style-type: none;
  
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
   nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;

  }
   .jumbotron {
    background-position: center;
    min-height: 70vh; /* jangan full 100 */
  }
   .gallery {
    grid-template-columns: 1fr;
  }
}
  
